/* Got the font from: https://www.dafont.com/pkmn-rbygsc.font */
@font-face {
  font-family: 'Pokemon Font';
  src: url(../../../public/font/PKMN-RBYGSC.ttf);
}

.container {
  font-family: "Pokemon Font";
}

.greeting-container {
  width: 400px;
}

.greeting-container::after {
  width: 3px;
  height: 3px;
  color: rgb(var(--foreground-rgb));
  box-shadow: 3px 3px,6px 3px,9px 3px,12px 3px,15px 3px,18px 3px,21px 3px,3px 6px,6px 6px,9px 6px,12px 6px,15px 6px,18px 6px,21px 6px,6px 9px,9px 9px,12px 9px,15px 9px,18px 9px,6px 12px,9px 12px,12px 12px,15px 12px,18px 12px,9px 15px,12px 15px,15px 15px,12px 18px;
  pointer-events: none;
  float: right;
  content: "";
  /* to account for the space taken up by the box shadow */
  margin-bottom: 20px;
  margin-right: 25px;
}

.greeting-content::before {
  content: "Hey, how's it going?";
}

@media (prefers-color-scheme: dark) {
  .greeting-content::before {
    content: "Zzz...   go to some other page    Zzz...";
    white-space: pre;
  }
}