/* Properties */
@property --timeline-last-row-line {
  syntax: "<integer>";
  inherits: true;
  initial-value: 0;
}
@property --job-logo-width {
  syntax: "<length>";
  inherits: false;
  initial-value: 0;
}
@property --job-logo-width-one-third {
  syntax: "<length>";
  inherits: false;
  initial-value: 0;
}
@property --job-logo-width-split-across-three-columns {
  syntax: "*";
  inherits: false;
}
@property --job-logo-vertical-padding {
  syntax: "<length>";
  inherits: false;
  initial-value: 0;
}
@property --timeline-fade-direction {
  syntax: "*";
  inherits: false;
}
@property --timeline-fade-translate-percentage {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}

/* Properties provided by JavaScript */
@property --timeline-scroll-percentage {
  syntax: "<percentage>";
  inherits: true;
  initial-value: 0%;
}
@property --job-count {
  syntax: "<integer>";
  inherits: false;
  initial-value: 0;
}
@property --job-index {
  syntax: "<integer>";
  inherits: false;
  initial-value: 0;
}

.timeline {
  --timeline-last-row-line: calc(calc(2 * var(--job-count)) + 1);
  --job-logo-width: clamp(5.5rem, 9rem, 11rem);
  --job-logo-width-one-third: calc(var(--job-logo-width) / 3);
  --job-logo-width-split-across-three-columns: repeat(
    3,
    var(--job-logo-width-one-third)
  );
  width: 100%;
  display: grid;
  grid-template-columns: var(--job-logo-width-split-across-three-columns) auto;
  grid-template-rows: auto;
  margin-bottom: 64px;
}

.timeline::before,
.timeline.unemployed::after {
  grid-column: 2;
  justify-self: center;
  width: 3px;
}

.timeline::before {
  /*
  TODO: They may add a keyword to span all rows[1].

  [1]: https://github.com/w3c/csswg-drafts/issues/2402
  */
  grid-row: 1 / var(--timeline-last-row-line);
  background: linear-gradient(
    rgb(var(--active-timeline-rgb)) var(--timeline-scroll-percentage),
    rgb(var(--inactive-timeline-rgb)) var(--timeline-scroll-percentage)
  );
  content: "";
  border-radius: 5px;
}

.timeline.unemployed::after {
  grid-row: calc(var(--timeline-last-row-line) - 1) /
    var(--timeline-last-row-line);
  content: "";
  background: repeating-linear-gradient(
    transparent,
    transparent 6px,
    rgb(var(--background-rgb)) 6px,
    rgb(var(--background-rgb)) 12px
  );
}

.timeline-bottom-fade,
.timeline-top-fade {
  height: 10vh;
  width: 100vw;
  position: fixed;
  left: 0;
  transition: transform 400ms ease-out;
  background: linear-gradient(
    var(--timeline-fade-direction),
    rgb(var(--background-rgb)),
    rgba(var(--background-rgb), 0)
  );
}

.timeline-bottom-fade.hide,
.timeline-top-fade.hide {
  transform: translateY(var(--timeline-fade-translate-percentage));
}

.timeline-bottom-fade {
  --timeline-fade-direction: to top;
  bottom: 0;
}

.timeline-bottom-fade.hide {
  --timeline-fade-translate-percentage: 100%;
}

.timeline-top-fade {
  --timeline-fade-direction: to bottom;
  top: 0;
}

.timeline-top-fade.hide {
  --timeline-fade-translate-percentage: -100%;
}

.job-logo {
  background-color: rgb(var(--background-rgb));
  grid-column: 1 / span 3;
  grid-row: calc(calc(2 * var(--job-index)) - 1);
}

.job-logo:first-child {
  margin-top: 30px;
}

.job-logo img {
  --job-logo-vertical-padding: 10px;
  padding-bottom: var(--job-logo-vertical-padding);
  padding-top: var(--job-logo-vertical-padding);
  width: 100%;
  /*
  I need something wide enough that logos are always padded on their sides since
  vertical padding would increase the logo's distance from the timeline line.
  */
  aspect-ratio: 16 / 9;
  object-fit: scale-down;
}

.job-card {
  max-width: 40ch;
  grid-column: 3 / span 2;
  background-color: rgb(var(--timeline-item-background-rgb));
  padding: 20px;
  border-radius: 4px;
  margin: 80px 0 80px 0;
  grid-row: calc(2 * var(--job-index));
}

.job-card-date {
  text-transform: uppercase;
  margin-top: 15px;
  text-align: end;
  font-weight: lighter;
  font-size: 1.25rem;
  position: relative;
  line-height: 1;
}

@media (min-width: 800px) {
  .timeline {
    grid-template-columns: 1fr var(--job-logo-width-split-across-three-columns) 1fr;
  }

  .timeline::before,
  .timeline.unemployed::after {
    grid-column: 3;
  }

  .job-logo {
    grid-column: 2 / span 3;
  }

  .job-card {
    margin: 80px 0 80px 0;
  }

  .job-card:nth-child(2n) {
    grid-column: 1 / span 2;
    justify-self: end;
  }

  .job-card:nth-child(4n) {
    grid-column: 4 / span 2;
    justify-self: start;
  }
}
