.container {
  font-family: var(--fun-font);
  /* font-size-adjust: var(--fun-font-size-adjust); */
  text-align: center;
  font-size: 1.5rem;
}

.home-logo .big {
  color: steelblue;
}

.olu,
.big {
  display: inline-block;
  transition: opacity 1s, transform 1s;
}
