@import "~@fontsource/press-start-2p/400.css";

.code-logo {
  font-family: 'Source Code Pro Variable';
  font-style: italic;
}

.home-logo {
  font-family: "Press Start 2P";
}
.home-logo .big {
  transform: translateY(-50%);
}
.home-logo .olu {
  transform: translateY(50%);
}
.home-logo .big, .home-logo .olu {
  color: #9ebad5;
}
.home-logo .gie {
  opacity: 0;
}
.home-logo .ola {
  opacity: 0;
}
.home-logo:hover > span {
  opacity: unset;
  transform: unset;
}

.ola, .olu, .big, .gie {
  display: inline-block;
  transition: opacity 1s, transform 1s;
}