.container::before {
  top: 0;
  left: 0;
  width: var(--line-width);
  height: 100%;
  position: absolute;
  background: linear-gradient(
    rgb(var(--active-timeline-rgb)) var(--length-to-highlight),
    rgb(var(--inactive-timeline-rgb)) var(--length-to-highlight)
  );
  content: "";
  margin-left: var(--largest-logo-midpoint);
  transform: translateX(-50%);
}

.container {
  width: 100%;
  position: relative;
  isolation: isolate;
  padding-top: 10px;
}

.timeline-item {
  display: flex;
  margin-bottom: 40px;
  flex-direction: column;
}

.timeline-hidden {
  color: rgb(var(--inactive-foreground-rgb));
}

.timeline-hidden .timeline-image img {
  filter: brightness(50%);
}

.timeline-show {
  color: rgb(var(--foreground-rgb));
}

.timeline-image {
  background-color: rgb(var(--background-rgb));
  align-self: flex-start;
  width: var(--logo-width);
  z-index: 1;
  position: relative;
  margin: auto;
}

.timeline-image img {
  padding-bottom: 10px;
  padding-top: 10px;
  width: 100%;
}

.timeline-text {
  margin-left: 50px;
  margin-top: auto;
  margin-bottom: auto;
  padding: 50px 0px 50px var(--largest-logo-midpoint);
  max-width: 70ch;
}
