.container::before, .container.unemployed::after {
  grid-column: 2;
  justify-self: center;
}

.container::before {
  /* TODO: They may add a keyword to span all rows: https://github.com/w3c/csswg-drafts/issues/2402 */
  grid-row: 1 / var(--row-count);
  width: 2px;
  background: linear-gradient(
    rgb(var(--active-timeline-rgb)) var(--length-to-highlight),
    rgb(var(--inactive-timeline-rgb)) var(--length-to-highlight)
  );
  content: "";
  border-radius: 5px;
}

.container.unemployed::after {
  grid-row: calc(var(--row-count) - 2) / var(--row-count);
  content: "";
  border-left: 2px dashed rgb(var(--background-rgb));
}

.container {
  width: 100%;
  display: grid;
  row-gap: 30px;
  grid-template-columns:  repeat(3, var(--largest-logo-width-third)) auto;
  grid-template-rows: auto;
  position: relative; /* for offsetTop */
  margin-bottom: 25vh;
}

.timeline-text.hidden {
  color: rgb(var(--inactive-foreground-rgb));
}

.timeline-image.hidden img {
  filter: brightness(50%);
}
.timeline-image.show img {
  filter: brightness(100%);
}

.timeline-text.show {
  color: rgb(var(--foreground-rgb));
}

.timeline-image {
  background-color: rgb(var(--background-rgb));
  width: var(--logo-width);
  grid-column: 1 / span 3;
  justify-self: center;
}

.timeline-image:first-child {
  margin-top: 30px;
}

.timeline-image img {
  padding-bottom: 10px;
  padding-top: 10px;
  width: 100%;
}

.timeline-text {
  max-width: 70ch;
  grid-column: 3 / span 2;
  padding: 40px 0 40px 0;
}

@media (min-width: 1000px) {
  .container {
    grid-template-columns: 1fr repeat(3, var(--largest-logo-width-third)) 1fr;
  }
  .container::before, .container.unemployed::after {
    grid-column: 3;
  }
  .timeline-image {
    grid-column: 2 / span 3;
  }
  .timeline-text:nth-child(2n) {
    grid-column: 1 / span 2;
    text-align: right;
  }
  .timeline-text:nth-child(4n) {
    grid-column: 4 / span 2;
    text-align: left;
  }
}