@keyframes enlarge {
  0% {
  }
  50% {
  }
  100% {
    top: calc(50vh - calc(var(--modal-height) / 2));
    left: calc(50vw - calc(var(--modal-width) / 2));
    transform: scale(1);
    filter: none;
    overflow: unset;
    border: none;
    border-radius: 0;
  }
}

.container::backdrop {
  background-color: rgb(0,0,0,0);
}

.container {
  position: fixed;
  animation: enlarge 300ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  padding: 10px;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  transform-origin: 0px 0px 0px;

  --modal-width: 100vw;
  --modal-height: 100vh;
  width: var(--modal-width);
  height: var(--modal-height);
  transform: scale(0.76);
  /* transform: scale(calc(var(--width), var(--modal-width)), calc(var(--height), var(--modal-height))); */

  /* the dialog has margins by default */
  margin: 0;

  /* width: var(--width);
  height: var(--height); */
  left: var(--left);
  top: var(--top);
  background-color: var(--background-color);
}


@media (min-width: 700px) {
  .container {
    --modal-width: 85vw;
    --modal-height: 85vh;
  }
}