@keyframes enlarge {
  0% {
    color: rgb(var(--background-rgb));
  }
  80% {
    color: rgb(var(--background-rgb));
  }
  100% {
    width: 70%;
    height: 70%;
    color: unset;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.container {
  position: fixed;
  animation: enlarge 300ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  border: 1px solid rgb(var(--border-rgb));
  border-radius: 10px;
  padding: 10px;
}