@keyframes enlarge {
  0% {
  }
  50% {
  }
  100% {
    top: calc(50dvb - calc(var(--modal-height) / 2));
    left: calc(50dvi - calc(var(--modal-width) / 2));
    transform: scale(1);
    filter: none;
    border: none;
    border-radius: 0;
  }
}

@keyframes dim {
  10% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container::backdrop {
  background-color: rgb(0, 0, 0, 0.6);
  opacity: 0;
  animation: dim 400ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.container {
  position: fixed;
  animation: enlarge 400ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  padding: 10px;
  max-width: 100%;
  max-height: 100%;
  transform-origin: center;
  filter: blur(10px);

  /* --modal-width: 100vw;
  --modal-height: 100vh; */
  width: var(--modal-width);
  height: var(--modal-height);
  transform: scale(var(--scale));

  /* the dialog has margins by default */
  margin: 0;

  /* width: var(--width);
  height: var(--height); */
  left: var(--left);
  top: var(--top);
  background-color: var(--background-color);
}

@media (min-width: 700px) {
  .container {
    /* --modal-width: 85vw;
    --modal-height: 85vh; */
  }

  @keyframes enlarge {
    0% {
    }
    10% {
      /* transform: scale(var(--scale)); */
    }
    100% {
      top: calc(50dvb - calc(var(--modal-height) / 2));
      left: calc(50dvi - calc(var(--modal-width) / 2));
      filter: none;
      transform: scale(1);
      border-width: 1px;
    }
  }
}
