@import "~@fontsource/press-start-2p/400.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import '~nes.css/css/nes.css'; */

/* Got the font from: https://www.dafont.com/pkmn-rbygsc.font */
@font-face {
  font-family: 'Pokemon Font';
  src: url(../../public/font/PKMN-RBYGSC.ttf);
  size-adjust: 90%;
}

@font-face {
  font-family: "Neue Pixel";
  src: url("../../public/font/NeuePixelSans.ttf");
  size-adjust: 108%;
}

@font-face {
  font-family: Bender;
  src: url("../../public/font/Jovanny Lemonad - Bender.otf") format("opentype");
}

@font-face {
  font-family: Bender;
  font-weight: bold;
  src: url("../../public/font/Jovanny Lemonad - Bender-Bold.otf") format("opentype");
}

@font-face {
  font-family: Bender;
  font-weight: lighter;
  src: url("../../public/font/Jovanny Lemonad - Bender-Light.otf") format("opentype");
}

:root {
  --foreground-rgb: 0, 0, 0;
  --inactive-foreground-rgb: 193, 184, 184;
  --background-rgb: 255, 255, 255;
  --inactive-timeline-rgb: 193, 184, 184;
  --active-timeline-rgb: 0, 0, 0;
  --border-rgb: 193, 184, 184;
  --timeline-item-background-rgb: 240, 240, 240;

  --duration: 0.5s;
  --timing: ease;
  color-scheme: light dark;

  --fun-font: "Neue Pixel";
  /* --fun-font-size-adjust: 1.2; */

  font-family: Bender;
  font-weight: bold;

  --max-line-length: 60ch;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 248, 249, 250;
    --inactive-foreground-rgb: 81, 81, 81;
    --background-rgb: 18, 18, 18;
    --inactive-timeline-rgb: 81, 81, 81;
    --active-timeline-rgb: 248, 249, 250;
    --border-rgb: 81, 81, 81;
    --timeline-item-background-rgb: 36, 36, 36;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
  transition: color var(--duration) var(--timing), background-color var(--duration) var(--timing);
}

img {
  /* Maintain the aspect ratio */
  height: auto;
  /* Images should never overflow their containers */
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--fun-font);
  font-size: revert;
  text-transform: uppercase;
}

li {
  list-style: square;
}

.external {
  --size: 1.15em;
  width: var(--size);
  height: var(--size);
}

/* for debugging */
* {
  /* outline: 1px red solid; */
}