.container {
  display: flex;
  flex-direction: column;
  min-height: 100dvb;
  padding: 16px;
}

@media (min-width: 600px) {
  .main {
    padding: 64px 32px 0 32px;
  }
  .container {
    padding: 32px;
    padding-bottom: 0;
  }
}

.container > * {
  flex: 0 0 auto;
}

.header {
  display: flex;
  padding-left: 16px;
  column-gap: 32px;
  padding-right: 16px;

  /* position: sticky;
  top: 0;
  background-color: rgb(var(--background-rgb));
  z-index: 1; */

}

.body {
  /* max-width: 1100px; */
  margin: 0 auto;
}

.footer {
  margin-top: auto;
  margin-bottom: 10px;
  /* I added left and right padding so text doesn't get clipped in a rounded OS window */
  padding: 20px 8px 0 8px;
  text-align: end;
}
