.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
}

.header {
  grid-column-start: auto;
  grid-row-start: 1;
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 2px rgb(var(--border-rgb)) solid;
}

.main {
  grid-column-start: 1 / 1;
  grid-row-start: 2 / 2;
}