.container {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.container > * {
  flex: 0 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 2px rgb(var(--border-rgb)) solid;

  position: sticky;
  top: 0;
  background-color: rgb(var(--background-rgb));
  z-index: 1;

}

.main {
  padding: 20px;
}

.footer {
  margin-top: auto;
  margin-bottom: 10px;
  /* I added left and right padding so text doesn't get clipped in a rounded OS window */
  padding: 20px 8px 0 8px;
  text-align: end;
}