.container {
  --background-image-size: 200px;
  border: 1px solid rgb(var(--border-rgb));
  border-radius: 10px;
  background-image: linear-gradient(to bottom, #fff0 0%, #fff0 70%, rgb(var(--timeline-item-background-rgb)) 100%), var(--thumbnail-image-url);
  background-size: 100% var(--background-image-size);
  background-repeat: no-repeat;
  padding: calc(var(--background-image-size) + 25px) 10px 10px 10px;
  background-color: rgb(var(--timeline-item-background-rgb));
  max-width: 300px;
  transition: transform 200ms ease-out;
}

.container:hover {
  transform: scale(1.1);
  transition: transform 200ms ease-in;
}

.tag {
  display: inline;
  border: 1px solid;
  padding: 4px;
  border-radius: 24px;
}

.tag:not(:last-child) {
  margin-right: 10px;
}

.close {
  position: absolute;
  top: 0px;
  right: 5px;
}

.modal-container {
  display: grid;
  grid-template-rows: 60% 1fr;
  height: 100%;
}