.container {
  display: grid;
  column-gap: 15px;
  grid-template-columns: auto;
  grid-template-rows: 1fr;
  align-items: center;
}

.container > * {
  grid-column-start: auto;
  grid-row-start: 1;
  border-bottom: 1px solid transparent;
}

.container > *:hover {
  border-bottom: 1px solid;
}