.container {
  align-items: center;
  display: flex;
  gap: 10px;
}

.navbarItem {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0 10px 0 5px;
  border-radius: 2px;
}

.navbarItem > a::before {
  content: "";
  width: 1rem;
  height: 1rem;
  display: inline-block;
  background-color: currentColor;
  padding: 5px;
  background-clip: content-box;
  vertical-align: middle;
}

.navbarItem:hover {
  background-color: #fc6060;
}
