.container {
  display: grid;
  /* I'd like to do math.min with the width, otherwise items overlap */
  grid-template-rows: 80% 20%;
  background-color: rgba(0,0,0,0.1);
  border-radius: 12px;
  padding: 16px;
  margin: 16px;
}

.media-container {
  width: 100%;
  height: 100%;
  display: flex;
  grid-template-rows: 100%;
  grid-auto-columns: 100%;
  --gap: 20px;
  gap: var(--gap);
  transform: translateX(calc(calc(-1 * calc(100% + var(--gap))) * var(--active-item-index, 0)));
  transition: transform 100ms ease-out;
}

.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.thumbnail-container {
  padding: 5px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.thumbnail-container > .active {
  opacity: 1;
  border-bottom: 3px solid steelblue;
}

.thumbnail-container > *:hover {
  opacity: 1;
}

.media-container > * {
  /* grid-row: 1; */
  flex: 0 0 100%;
  max-width: 100%;
  object-fit: scale-down;
}

@media (orientation: landscape) {
  .image, .video, .media-container > * {
    width: auto;
    height: 100%;
  }
}
@media (orientation: portrait) {
  .image, .video, .media-container > * {
    height: auto;
    width: 100%;
  }
}

.image, .video, .image-thumbnail, .video-thumbnail {
}

.image-thumbnail, .video-thumbnail {
  aspect-ratio: 1 / 1;
  object-fit: contain;
  height: 100%;
  width: auto;
  opacity: .4;
  border-bottom: 3px solid transparent;
  padding: 5px;
}
