.container {
  display: grid;
  /* I'd like to do math.min with the width, otherwise items overlap */
  grid-template-rows: 80% 20%;
}

.media-container {
  width: 100%;
  height: 100%;
  display: flex;
  place-items: center;
  grid-template-rows: 100%;
  grid-auto-columns: 100%;
  --gap: 20px;
  gap: var(--gap);
  transform: translateX(calc(calc(-1 * calc(100% + var(--gap))) * var(--active-item-index, 0)));
  transition: transform 100ms ease-out;
}

.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.thumbnail-container {
  border: 1px solid;
  padding: 5px;
  display: flex;
  gap: 10px;
}

.thumbnail-container > .active {
  border: 1px solid blue;
}

.media-container > * {
  /* grid-row: 1; */
  flex: 0 0 100%;
  max-width: 100%;
  object-fit: contain;
}

@media (orientation: landscape) {
  .image, .video, .media-container > * {
    width: auto;
    height: 100%;
    aspect-ratio: 1 / 1;
  }
}
@media (orientation: portrait) {
  .image, .video, .media-container > * {
    height: auto;
    width: 100%;
    aspect-ratio: 1 / 1;
  }
}

.image, .video, .image-thumbnail, .video-thumbnail {
}

.image-thumbnail, .video-thumbnail {
  aspect-ratio: 1 / 1;
  object-fit: contain;
  height: 100%;
  width: auto;
  border: 1px solid rgb(var(--foreground-rgb));
  border-radius: 5px;
  padding: 5px;
}
