// Override reboot.scss

html,
body,
pre,
code,
kbd,
samp {
  font-family: $font-family;
}

body {
  font-size: $font-size;
  color: $base-color;
  background-color: $background-color;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: none;
}

a {
  color: $base-color;
  text-decoration: none !important;
  white-space: nowrap;

  &:hover {
    animation: bounce .5s infinite;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
